fastapi
uvicorn
gunicorn
pydantic
pydantic[email]
sqlalchemy
asyncpg
psycopg2-binary
python-multipart
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
pyjwt
slowapi
websockets
python-dotenv
pytz
httpx
aiofiles
tenacity
python-docx
